extends layout

block content
  
  header(class='header')
    
  div(class='addDiv')
    form(action='/addItem',method='post',data-ajax='false')
      a(id='browse',href='/browse',data-role="button",data-inline="true") Selaa yhteystietoja
      a(class='logout',href='/browse',data-role="button",data-inline="true") Kirjaudu ulos
      br
      label Etunimi
      input(type='text',name='firstname')
      br
      laber Sukunimi
      br
      input(type='text',name='lastname')
      br
      label Osoite
      input(type='text',name='address')
      br
      label Puhelin
      input(type='text',name='phone')
      br
      label Sähkoposti
      input(type='text',name='email')
      br
      br
      input(type='submit',value='Tallenna')
      p(id='error') #{error}
  footer
    
  //  p #{userinfo}