extends layout

block content
  
  header
    
  div
    br
    a(href='/browse') Selaa osoitteita
    a(href='/logout')  Kirjaudu ulos
    br
    br
    p #{formdata}
    p #{userinfo}
    br
    form(action='/addItem',method='post',data-ajax='false')
      label Etunimi
      input(type='text',name='firstname')
      br
      laber Sukunimi
      br
      input(type='text',name='lastname')
      br
      label Osoite
      input(type='text',name='address')
      br
      label Puhelin
      input(type='text',name='phone')
      br
      label Sähkoposti
      input(type='text',name='email')
      br
      br
      input(type='submit',value='Tallenna')