extends layout

block content

  header(class='header')
    a(class='logout',href='/logout') Kirjaudu ulos
  div(class='addDiv')
    ul(data-role='listview',data-filter='true',data-autodividers="true")  
      each addr in addresses
        li
          a(href='/modifyForm?id=#{addr._id}') #{addr.lastname} #{addr.firstname} 
        
        