extends layout

block content

  div
  div
    ul(data-role='listview',data-filter='true',data-input='#test')  
      each addr in addresses
        li
          a(href='/modify_userdata?id=#{addr._id}') #{addr.firstname} #{addr.lastname} #{addr.id}
        
        