extends layout

block content
  
  header(class='header')
  div(class='loginDiv')
    h2 Kirjaudu sisään
    form(action='/login',method='post',data-ajax='false')
      br
      label Käyttäjänimi
      input(class='lForm',type='text',name='username')
      br
      label Salasana
      input(class='lForm',type="password",name='password')
      br
      input(class='lForm',type='submit',value='Kirjaudu sisään')
      
  div(class='loginDiv')
    a(href='/register') rekisteröidy
    
    
  div(class='loginDiv')
    p(id='info') #{info}
    p(id='info') #{notify}