extends layout

block content

  div
    h2 Kirjaudu sisään
    form(action='/login',method='post',data-ajax='false')
      br
      label Käyttäjänimi
      input(type="text",name="username")
      br
      label Salasana
      input(type="text",name="password")
      br
      input(type="submit",value="Kirjaudu sisään")
      
  div
    a(href='/register') rekisteröidy
    a(href='/logout') Kirjaudu ulos
    
  div
    p(id='info') #{info}
    p(id='info') #{notify}