extends layout

block content
  h1 Uuden käyttäjän rekisteröinti
  h2 #{error}
  div
    form(action='/reguser',method='post',data-ajax='false')
      br
      label Käyttäjänimi
      input(type='text',name='username')
      br
      label Salasana
      input(type='text',name='password')
      br
      label Salasana uudestaan
      input(type='text',name='password2')
      br
      input(type='submit',value='Luo uusi käyttäjä')