body
  background-color: #E6FFFF
  padding: 40px
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
.logout
  float:right
  
#error
  color: red
  
#info
  color:blue
  font:14px
  
.loginDiv
  width:400px
  margin:0 auto

label
  font: 14px

.addDiv
  padding 40px
  width:400px
  margin:0 auto
  border-style: solid
  border-width: 1px
  border-color: gray
  border-radius: 15px
  
  box-shadow: 10px 10px 5px #888888;
  
  
.header
  width:400px
  height:50px
  margin:0 auto


  